.url-input-container{
    padding: 8px 0;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.url-input{
    width: 90%;
    margin-left: 16px;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(0,0,0,0);
    color: #0f0f0f;
    font-size: 14px;
}

.url-input:active, .url-input:focus{
    outline: none;
}

.url-input-icon{
    margin: auto;
    color:rgba(0, 0, 0, 0.58);
    cursor: pointer;
}

.url-input-icon:hover{
    color: black;
    font-weight: bold;
    filter: brightness(70%);
}

.modal-footer{
    justify-content: space-evenly;
}

.button-join-chat{
    width: 50%;
    margin: auto !important;
    background-color: #38394D;
    color:#fff;
    border-radius: 20px;
    padding: 0 16px;
    position:relative;
    transition: .3s ease all;
    padding: 5px 0;
}

.button-join-chat:hover{
    filter: brightness(90%);
}