.chat-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 0 0 auto;
  transition: all 0.5s ease;
}

/* .chat-box.close {
  width: 75%;
} */

.chat-text-button {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  height: 100%;
  width: 90%;
}

.chat-text-button.close {
  margin-left: 4rem;
}

.home-content {
  background: #d9d9d9;
  transition: all 0.5s ease;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  position: relative;
}

.home-content .bx-menu,
.home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-content .text {
  font-size: 26px;
  /*font-weight: 600;*/
  font-family: "Righteous", sans-serif;
  width: 100%;
  margin:auto 0;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.home-content .text::-webkit-scrollbar {
  height: 3px;
  margin: auto;
  border-radius: 20px;
  background-color: transparent;
}

.home-content .text::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 20px;
}

.user_writing {
  margin: auto auto 0 0;
  padding-left: 20px;
  display: none;
  position:absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.user_writing.active{
    display: block;
}

@media screen and (max-width: 768px){
  .chat-box {
    width: 85%;
  }
}