.chat-box{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chat-text-button{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15rem; /*260px*/
    background: #38394D;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar .menu-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #6A6B7A;
}

.sidebar .menu-details .menu-hamburger{
    font-size: 30px;
    color: #fff;
    height: 20px;
    min-width: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 10px;
}
.sidebar .menu-details .btn-leave{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    background-color: #38394D;
    border-radius:10px;
    border: 0;
    cursor: pointer;
    padding: 4px;
    margin-right: 10px;
    margin-left: auto;
}
.sidebar .menu-details .btn-leave:hover{
    background-color: #58596f;
}

.sidebar .menu-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}


/*
  DETALLE DEL PERFIL PARTE DE ABAJO DEL SIDEBAR
*/



.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 15rem;
    display: flex;
    flex-direction: column; /* Cambiado a dirección de columna */
    align-items: center;
    justify-content: center; /* Cambiado a justificación centrada */
    background: #383258;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar .profile-details .profile_img{
    width: 5rem;
    margin-bottom: 1rem;
}

.sidebar .profile-details .profile_name{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}



.chat-text-button{
    display: flex;
    flex-direction: column;
}



.home-section{
    background: #E4E9F7;
    height: 4rem;
    margin-left: 15rem;
    width: calc(100%);
    transition: all 0.5s ease;
}

.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}


/*
            SIDEBAR CLOSE
 */

.sidebar.close{
    width: 4rem;
}

.sidebar.close .profile-details img{
    width: 3rem;
}

.sidebar.close .profile-details {
    width: 4rem;
}

.sidebar.close .menu-details .logo_name,
.sidebar.close .menu-details .btn-leave,
.sidebar.close .nav-links .info-sidebar p {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar.close .profile-details .profile_name {
    display: none;
}

.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}