body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
  min-width: 100%;
  min-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

#root{
  height: 100dvh;
  max-height: 100dvh;
  min-width: 100%;
}

.chatRoom-global{
  position: relative;
  display: flex;
  height: 100%;
  width: 100% !important;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  body{
    max-height: 100dvh;
  }

  .chatRoom-global{
    max-height: 100%;
  }

}


/* ARREGLAR EN EL SERVIDOR QUE LAS  ROOMS NO SE ELILMINAN CORRECTAMENTE NI LOS USUARIOS  */