.list-item-elem{
    width:78px;
    height: 78px;
}

.button-chooser{

    width: 30% !important;
    margin: 0 auto !important;
    height: 40px;
    background-color: #38394D;
    border:none;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
}

.button-chooser:hover, .button-chooser:focus, .button-chooser:active{
    background-color: #7679a4;
}