.message {
  /*min-width: 40%;*/
  max-width: 90%;
  width: auto;
  /*min-height: 15%;*/
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px 10px 25px 10px;
}

.message-container {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}
.message.self .message-container {
  justify-content: flex-end;
}

.message-data-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 85%;
  max-width: 85%;
  position: relative;
  /* margin-left: 10px; */
}

.message-data-username {
  width: auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /*68px son el largo de la foto*/
  margin-left: 85px;
}

.message-data-username::-webkit-scrollbar {
  height: 5px;
  border-radius: 20px;
  background-color: transparent;
}

.message-data-username::-webkit-scrollbar-thumb {
  background: #38394d;
  border-radius: 20px;
}

.message-data__message-info {
  width: auto;
  height: auto;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: auto 0;
  border-radius: 10px;
  background-color: #eeedf2;
  color: #000;
  display: flex;
  flex-direction: column;
}

/* TRiangulito del msj */
/*
.message-data__message-info::before{
  content: "";
  position: absolute;
  left: -16%;
  bottom: 30%;
  transform: translateY(0%);
  border:15px solid;
  border-color: #0000 #EEEDF2 #0000 #0000;
  
}

.message.self .message-data__message-info::before{
  left: auto;
  right: -36%;
  border-color: #0000 #0000 #0000 #424698;
}
*/

.message-data__message-info-text {
  width: auto;
  max-width: 100%;
  height: 100%;
  padding: 10px 18px 5px 18px;
  margin: auto 0;
  word-wrap: break-word;
}

.message-data__message-info-time {
  font-size: 10px;
  margin: auto 0 0 0;
  margin: 0 0 0 auto;
  padding: 0 5px 0 10px;
}

.message.self {
  justify-content: end;
  margin: 0px 0px 15px auto;
}

.message.self .message-data__message-info {
  background-color: #424698;
  color: white;
}

.chat-avatar {
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  width: auto;
  display: flex;
}

.chat-avatar.self {
  color: #000;
}

.avatar-img-chat {
  background-size: cover;
  width: 68px;
  height: 68px;
}

.message-connect-container {
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.message-connect {
  color: #b0b2b4;
  margin: auto;
  font-size: 12px;
  user-select: none;
}

@media screen and (max-width: 927px) {
  .chat-avatar {
    width: auto;
    max-width: 70%;
  }
  .message-data-username{
    margin-left: 60px;
    font-size: 12px;
  }
  .message-data-container {
    width: auto;
  }
  .avatar-img-chat {
    width: 50px;
    margin: 0 auto;
  }
  .message-data__message-info-text {
    padding: 5px 9px 2px 9px;
    /* padding: 0; */
  }
}
@media screen and (max-width: 360px) {
  .message {
    width: 100%;
    margin: 10px 0;
  }
  .message-data-username{
    margin-left: 50px;
  }
  .message-container{
    width: 100%;
  }
  .message-data-container{
    width: auto;
  }
  .message-data__message-info{
    width: auto;

  }
  .avatar-img-chat {
    width: 50px;
    height:50px;
    margin: 0 auto;
    max-width: 100%;
  }
  .chat-avatar, .chat-avatar.self {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    padding: 0 5px;
  }
}