.chat-content{
    margin: 0 10px 0 10px;
    overflow: scroll;
    height: auto;
}

.message{
    padding:5px;
    width: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px 10px;
}

.message-data{
    padding:5px;
}
.message.self{
    justify-content: end;
}


.avatar{
    background-color: cornflowerblue;
    padding: 3px 5px;
    border-radius: 5px;
    color:#fff;
}

.avatar.self{
    color:#000;
    background-color: greenyellow;
}
