.chat-content {
  /*header 10%, input 10%*/
  margin-top: 2%;
  height: 78%;

  width: 100%;
  overflow: hidden;
}

.scroll-messages {
  min-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100% !important;
  position: relative;
  display: flex;
}

.scroll-messages::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: transparent
}

.scroll-messages::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 5px;
}

.chat-messages{
  /*creo que hay una clase de bootstrap que se llama asi, quito los estilos*/
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  min-width: 40%;
  max-width: 90%;
  min-height: 15%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0px 10px;
}

.message-data {
  padding: 5px;
  width: auto;
  max-width: 90%;
  word-wrap: break-word;
  height: auto;
  margin:auto 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 15px;
}
.message.self {
    justify-content: end;
    margin: 0px 0px 0px auto;
}

.message.self .message-data{
  background-color: #424698;
  color:white
}

.chat-avatar {
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  width: 78px;
  height: 78px;
}

.chat-avatar.self {
  color: #000;
}

.avatar-img-chat{
    background-size: cover;
    width: 100%;
    height: 100%;
}