
.sidebar{
    /*
    position: fixed;
    top: 0;
    left: 0;
    */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background: #38394D;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar .menu-details{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #6A6B7A;
}

.sidebar .menu-details .menu-hamburger{
    font-size: 30px;
    color: #fff;
    height: 20px;
    min-width: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 10px;
}
.sidebar .menu-details .btn-leave{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    background-color: #38394D;
    border-radius:10px;
    border: 0;
    cursor: pointer;
    padding: 4px;
    margin-right: 10px;
    margin-left: auto;
}
.sidebar .menu-details .btn-leave:hover{
    background-color: #58596f;
}

.sidebar .menu-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}


/*
  DETALLE DEL PERFIL PARTE DE ABAJO DEL SIDEBAR
*/

.sidebar-user-info-container{
    height: 15%;
    margin: auto 0 0 0;
}

.sidebar .profile-details {
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Cambiado a dirección de columna */
    align-items: center;
    justify-content: center; /* Cambiado a justificación centrada */
    background: #383258;
    /*padding: 12px 0;*/
    transition: all 0.5s ease;
}

/*
.sidebar .profile-details .profile_img{
    width: 5rem;
    margin-bottom: 1rem;
}
*/

.sidebar .profile-details .profile_name{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}


.profile-details__img{
    margin:0 auto;
    height: 50px;
    min-width: 50px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    background-color: #58596f;
}

.profile_name{
    width: auto;
    max-width: 80%;
    height: auto;
    text-align: center;
    word-wrap: break-word;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
}
.profile_name::-webkit-scrollbar {
    width:1px;
    border-radius: 2px;
    background-color: #bfbee0;
}

.profile_name::-webkit-scrollbar-thumb{
    background: #38394D;
    border-radius: 2px;
}


/*
            SIDEBAR CLOSE
 */

 .sidebar.close{
    width: 10%;
}

.sidebar.close .profile-details img{
    width: 3rem;
}

.sidebar.close .profile-details {
    width: 100%;
}

.sidebar.close .menu-details .logo_name,
.sidebar.close .menu-details .btn-leave{
    pointer-events: none;
    display: none;
    transition: all 0.5s ease;
}
.sidebar.close .menu-details img{
    margin: auto;
}

.sidebar.close .profile-details .profile_name {
    display: none;
}